@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100% !important;
  height: 100% !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* FIX NAV */
nav div {
  width: 100%;
}
nav div ul {
  justify-content: none;
}

/* SCROLL TOOLBAR */
section::-webkit-scrollbar {
  margin-top: 10px;
  height: 8px;
}

/* Modo claro por defecto */
section::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200); /* Color claro para thumb */
  border-radius: 10px;
}

section::-webkit-scrollbar-track {
  background-color: rgb(240, 240, 240); /* Color claro para track */
}

/* Modo oscuro */
.dark section::-webkit-scrollbar-thumb {
  background-color: #1e293b; /* Color oscuro para thumb */
}

.dark section::-webkit-scrollbar-track {
  background-color: #0f172a; /* Color oscuro para track */
  border-radius: 50px;
}

.grayscale {
  filter: grayscale(100%);
}